{% extends 'base.html' %}
{% load static %}
{% block title_block %} Home {% endblock %}
{% block body_block %}

<div class="hero">
    <h1 class="typewriter">Donate and Helping Poor Childrens </h1><br>

    {% if user.is_authenticated %}
        <button class="button-75" role="button"><a href="{% url 'Donor_App:create_donation' %}"><span class="text">Donate Here</span></a></button>
    {% else %}
        <button class="button-75" role="button"><a href="{% url 'Login_App:login' %}"><span class="text">Donate Here</span></a></button>
    {% endif %}
</div>

{% endblock %}